Source: wayfire-config-hwcomposer
Maintainer: Deepak <notwho53@gmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/WHO53/wayfire-config-hwcomposer
Vcs-Git: https://github.com/WHO53/wayfire-config-hwcomposer.git

Package: wayfire-config-hwcomposer
Architecture: all
Depends: ${misc:Depends},
         halium-wrappers (>= 10),
Description:
 This package contains configurations required to start wayfire on hwcomposer
