[Unit]
Description=Wayfire
Conflicts=getty@tty1.service
After=getty@tty1.service
After=rc-local.service plymouth-quit-wait.service systemd-user-sessions.service
OnFailure=getty@tty1.service
After=session-c1.scope
Before=graphical.target
ConditionPathExists=/dev/tty0
Environment=LANG=C.UTF-8
Environment=XDG_CURRENT_DESKTOP=wayfire
Environment=XDG_SESSION_DESKTOP=wayfire
Environment=XDG_SESSION_TYPE=wayland
ExecStart=wayfire
TimeoutStartSec=30
User=1000
PAMName=login
WorkingDirectory=~
Restart=always
RestartSec=5s

# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Fail to start if not controlling the tty.
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

# Log this user with utmp, letting it show up with commands 'w' and 'who'.
UtmpIdentifier=tty7
UtmpMode=user

[Install]
WantedBy=graphical.target
